html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: flex-start; 
}


.header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1; 
        width: 100%;
        border: solid 1px blue;
    }

.header img {
    width: 100px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px; 
    width: 2px; 
    height: 2px; 
}

.imageninfo {
    background-image: url("descarga\ \(1\).jfif");
    width:100%;
    height: 600px;
}


.buttons {
    margin: 0; 
    margin-top: 20mm; 
    display: flex;
    justify-content: center;

}

button {
    margin: 5px;

}

.grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 10px; 
    margin-top: 10px; 
    justify-content: flex-start; 
    align-items: flex-start;

}
    


.imagen1 {
    width: 320px;
    height: 170px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 50px;  
    object-fit: cover;

}


.quiz {
    color: #ffef2f;
}

.aside{
    height: 81.5%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58.5px;
        background-color: blue; 
        border: 2px solid black; 
        margin-right: 250px;
        cursor: pointer;
    }
    
.options {
    padding: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.renglon{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}
/* Estilo general del contenedor Swiper */
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
    position: relative;
    z-index: 10;
}

.swiper-wrapper {
    position: relative;
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}